<div class="blogs-main">
  <div class="blog-title">
  	<hr>
	<h2>タイトル</h2>
	<h2><%= @blog.title %></h2>
  </div>
<hr>
	 <div class="views">
	  <h2>レビュー</h2>
	  <p><%= @blog.review  %></p>
	 </div>

<div class="favorite">
<% if user_signed_in? %>
<% if @blog.favorited_by?(current_user) %>
  
    <%= link_to  blog_favorite_blog_path(@blog), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @blog.favorite_blogs.count %> いいね
    <% end %>
<% else %>
    <%= link_to blog_favorite_blogs_path(@blog), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @blog.favorite_blogs.count %> いいね
    <% end %>
<% end %>
<% end %>
</div>

<% if admin_signed_in? %>
<%= link_to "編集", edit_blog_path(@blog.id) %>
<%= link_to "削除", blog_path(@blog.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<div class="blog-images">
<h3>写真</h3>
<%= attachment_image_tag @blog, :image, :fill, 450, 450, format: 'jpeg' %>
</div>

<div class="blog-text">
<hr>
<h2>メンバー</h2>
<p><%= @blog.member %></p>
 <hr>
<h2>スケジュール</h2>
<p><%= @blog.schedule  %></p>
<hr>
<h2>アクセス方法</h2>
<p><%= @blog.access  %></p>
</div>

<br>
<% if user_signed_in? %>
<% if (@blog.user_id == current_user.id) || current_admin %>
<%= link_to "編集", edit_blog_path(@blog.id) %>
<%= link_to "削除", blog_path(@blog.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<% end %>
</div>
<h3><%= @blog.user.email %></h3>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= c.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
    <br>
  </div>
<% end %>
<% if user_signed_in? %>
  <%= form_for [@blog, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
  <% end %>
<% end %>

<%= link_to "戻る", blogs_path %>
