<div class="top-image clearfix">
  <div class="top-info-box">
    <div class="top-about-under">
      <div class="col-xs-12 top-page-camp-door">
        <div class="title-text">
          <h1>Mountain JAPANとは</h1>
          <h2>日本の山の良さを伝え、登山に興味がある者同士で情報交換し、安全に登山を行うためのサイトです</h2>
        </div>
     </div>
   </div> 
    <div class="top-info-info">
     <div id="stage">
      <div id="photo1" class="pic"><%= image_tag("TKL180916004_TP_V.jpg",:size =>'1440x600') %>
      </div>
      <div id="photo2" class="pic"><%= image_tag("1711162AMEMAN016_TP_V.jpg",:size =>'1440x600') %></div>
      <div id="photo3" class="pic"><%= image_tag("RED19923025_TP_V.jpg",:size =>'1440x600') %></div>
      <div id="photo4" class="pic"><%= image_tag("RED19716026_TP_V.jpg",:size =>'1440x600') %></div>
      <div id="photo5" class="pic"><%= image_tag("yamasha_eternal_1_TP_V.jpg",:size =>'1440x600') %></div>
　　　<div style="padding:20%;"></div>
　　 </div>

      <div class="main-visiual-text">
    <o>山の頂上から景色を眺めた時の達成感<br>
    <br>
    疲れた状態だからこそ山頂で美味しいご飯を味わえる<br>
    <br>
    仲間と密にコミュニケーションをとることが増える<br>
    <br>
    年齢関係なく、みんなで楽しめるのが登山の魅力です！<br>
    <br><br>
    <br>仲間同士で情報を共有し、登山を楽しみましょう<br>
    <br>マナーとルールを守って、安全に登山をしましょう！！<br></o>
      </div>

<div class="top-about-page">
  <div class="top-page-about clearfix">
    <div class="col-xs-4 top-about top-about-left">
      <div class="top-icon">
         <h1>登山を勧める理由！</h1>
       <%= image_tag '登山者アイコン.png',:size =>'350x250' %>
     </div>
        <hr>
    </div>
  <div class="top-about">
    <div class="top-about-iti">
        <h2>1,脳科学的に良い=健康に良い<%= image_tag '脳のイラスト12.png',:size =>'100x50' %><br>効率的に全身を鍛えることができ、脳が活性化する！</h2><br>
    <div class="top-about-ni">
            <h2>2,ご飯が最高に美味しい<%= image_tag 'ナイフ、お皿、フォークのお食事アイコン2.png',:size =>'100x50' %><br>「空腹は最上の調味料である」　-キケロ（哲学者）</h2><br>
    <div class="top-about-san">
       <h2>3,コミュニケーションが活性化する<%= image_tag '会話アイコン.png',:size =>'100x50' %><br>Face to Faceの会話が100%</h2><br>
    </div>
    <div class="top-about-yon">
       <h2>4,人生が充実する!<%= image_tag '喜怒哀楽　うれしい.png',:size =>'100x50' %><br>登山を続けるようになれば目標が出来て幸福感が増す！</h2>
    </div>
    </div>
    </div>
  </div>

　</div>
</div>
<br>
<div class="about-text-main">
  <div class="text-main">
    <div class="text-main-back">
    <%= image_tag 'SNS人物アイコン.png',:size =>'100x50' %>
<h2>Mountain JAPANでの目的</h2><br>
 
 <ul>
  <li>自分の登山記録を残し、他の登山仲間が安全に登山出来る様に情報を共有する!<%= image_tag '手帳アイコン.png',:size =>'100x50' %></li><br>
  <li><%= image_tag '写真アイコン10.png',:size =>'100x50' %>登山中に撮影した写真を記念に残し、登山仲間と共有する!</li><br>
  <li><%= image_tag '目的地アイコン1.png',:size =>'100x50' %>行ってみたい山を検索する事ができ、詳細な情報を知る事ができる!</li><br>
  </div>
 </ul>
</div>
</div>
        

  <div class="about-finish">
    <div class="about-finish-top">
            <hr>
            <h1>サイト作成の理由<%= image_tag 'プレゼンテーションアイコン.png',:size =>'100x50' %></h1>
            <h2>まずは、楽な気持ちで登山を始めてみて下さい<br>そして、本サイトで情報を共有して登山仲間が増え、<br>その仲間が安全に登山に行えるように協力することが出来る環境があればいいと思い<br>本サイトを作成しました！</h2><br>
    </div>
     <hr>
      <div class="finish-text-about">
         <div class="finish-iti">
            <h2>最後に...<br>
          <div class="text-finish-last">
               最低限のマナーをしっかり守って登山を楽しみましょう！<br>
            <br>①ごみは必ず持ち帰る！<br>
            <br>②登山道からは外れない！<br>
            <br>③知らない人にも挨拶をしよう！<br>
           </h2>
          </div>
      </div>
  </div>
    <br>
    <div class="top-info">
     <hr>
      <h1>『なぜ、山にのぼるのか。そこに、山があるからだ』       ジョージ・マロリー(イギリス)</h1>
      <hr>
    </div>
  </div>
</div>
  
