<div class="top-image clearfix">
  <div class="top-info-box">
    <div class="top-about-under">
      <div class="col-xs-12 top-page-camp-door">
        <div>
          <h1>Climbing Lifeとは・・・</h1>
          <h2>登山に興味がある者同士で情報共有し、安全な登山生活(Life)を実現するためのサイトです</h2>
          <hr>
        </div>
     </div>
   </div> 

    <div class="top-info-info">
     <div id="stage">
      <div id="photo1" class="pic"><%= image_tag("KM19814269_TP_V.jpg",:size =>'1450x888') %></div>
      <div id="photo2" class="pic"><%= image_tag("RED19923025_TP_V.jpg",:size =>'1450x888') %></div>
      <div id="photo3" class="pic"><%= image_tag("TKL180916008_TP_V.jpg",:size =>'1450x888') %></div>
      <div id="photo4" class="pic"><%= image_tag("TKL180916004_TP_V.jpg",:size =>'1450x888') %></div>
      <div id="photo5" class="pic"><%= image_tag("yamasha_eternal_1_TP_V.jpg",:size =>'1450x888') %></div>
　　　<div style="padding:28%;"></div>
　　 </div>

      <div class="main-visiual-text">
    <o>山を登りきった時の達成感を味わうため<br>
    <br>
    山頂で最高に美味しくご飯を味わうため<br>
    <br>
    仲間と密にコミュニケーションをとるため<br>
    <br>
    年齢関係なく、大自然の中、みんなでワイワイ<br>
    <br>
    すぐ近くで仲間が待っている。<br>
    <br>
    マナーを守って、登山を楽しみましょう！</o>
      </div>
    


　　<div class="top-info">
     <hr>
      <h1>『なぜ、山にのぼるのか。そこに、山があるからだ』</h1>    
      ジョージ・マロリー(イギリス)<hr>
    </div>



<div class="top-about-page">
  <div class="top-page-about clearfix">
    <div class="col-xs-4 top-about top-about-left">
        <h2>山に登る理由とは？</h2>
        <hr>
    </div>

    <div class="top-about top-about-center">
        <h2>1,脳科学的に良い<br>=健康に良い</h2>
    </div>
    
    <div class="col-xs-4 about-info-center">
            <h2>2,ご飯が最高に美味しい<br>「空腹は最上の調味料である」　-キケロ（哲学者）</h2>
          </div>
    <div class="col-xs-4">
       <h2>3,コミュニケーションが活性化する<br>Face to Faceの会話が100%</h2>
    </div>
  
  </div>
</div>

        <div class="about-info-box clearfix">
          <div class="col-xs-4 about-info-left">
          </div>
          
          <div class="col-xs-4 about-info-right">
          </div>
        </div>

    <div class="col-xs-4">
      <div class="top-about top-about-right">
        <hr>
        <h2>登山に行きたい人の使い方</h2>
        <hr>
      </div>
    </div>

        <div class="about-info-box clearfix">
          
          <div class="col-xs-4 about-info-center">
            このサイトを使用することで</p>
          </div>
        </div>


        <div class="about-info-box clearfix">
          <div class="col-xs-6 about-info-center">
            <div class="tunagaru">
            他の登山者と繋がることができます
            </div>
          </div>
        </div>


      <div class="about-info-box clearfix">
        <div class="col-xs-2 about-info-left">
            <h2 class="example-comment">例えば</h2>
          </div>
          <div class="col-xs-6 about-info-center">
            <div class="tunagaru">
              <h2> ・一緒に焚き火を囲ってお酒を飲みたい</h2>
              <h2> ・子供たちを遊ばせたい</h2>
              <h2> ・テントの立て方を教えて欲しい</h2>
              <h2> ・キャンプ道具を誰かに譲りたい</h2>
            </div>
          </div>
          <div class="col-xs-4 about-info-right">
            <h2 class="purpose-comment">という目的の登山者と<br>
            繋がることができます</h2>
          </div>
        </div>

      <!-- キャンプ場にいる -->
      <div class="col-xs-12 top-page-iru">
        <hr class="about-hr">
        <h2>登山中の人の使い方</h2>
        <hr>
        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>今いる登山地の詳細画面へ</h2>
            
            <p>MAP画面にいき現在地を押すと、今いるキャンプ場が表示されます</p>
            <p>アイコンをクリックしてキャンプ場詳細画面に入りましょう</p>
            <p>キャンプ場詳細に入ると、キャンプ場の掲示板やチャットを見れます</p>
          </div>
        </div>

        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>フリーチャットしてみよう</h2>
            <p>キャンプ場でどんな話題が盛り上がっているかチェックしてみましょう</p>
            <p>同じ山にいる登山者と会話をしてみましょう！</p>
          </div>
        </div>


        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>掲示板で同じ目的の登山家を探す</h2>
            <p>掲示板のタブをクリックし、自分の目的と一緒のキャンパーを探してみましょう</p>
            <p>目的が一緒の人がいたら掲示板にコメントをしてみよう</p>
            <p>相手と目的が一致したら一緒に楽しもう！！</p>
          </div>
        </div>


        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>掲示板を作成してみよう</h2>
            <p>自分の目的が掲示板に無かったら掲示板を作成してみましょう</p>
          </div>
        </div>

  

      <div class="col-xs-12 top-page-ikitai">
        <hr class="about-hr">
        <h2>登山に行きたい人の使い方</h2>
        <hr>
        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>登山場所から検索してみよう</h2>
            <p>登山一覧画面から条件を絞って検索してみましょう</p>
            <p>MAP画面からも検索できます</p>
            <p>お気に入りの山があったらお気に入り登録をすることができます</p>
          </div>
        </div>


        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>掲示板からを検索してみよう</h2>
            <p>掲示板一覧画面から条件を入力して検索してみましょう</p>
            <p>気になる掲示板があったらお気に入り登録をすることができます</p>
          </div>
        </div>


        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>掲示板を作成してみよう</h2>
            <p>自分が募集したいときは掲示板を作成してみましょう</p>
          </div>
        </div>


        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>フリーチャットをしてみよう</h2>
            <p>キャンプ場で何で盛り上がっているかフリーチャットをみてみましょう</p>
            <p>自分でもフリーチャットに投稿して他のキャンパーと会話をしてみましょう</p>
          </div>
        </div>

         

        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>他のユーザーのページをのぞいてみよう</h2>
            <p>他のユーザーのお気に入りキャンプ場や掲示板をみることができます</p>
            <p>他のユーザーの掲示板投稿履歴をみることができます</p>
            <p>気になるユーザーをフォローすることができます</p>
          </div>
        </div>

          

        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <h2>マイページを確認しよう</h2>
            <p>お気に入り登録したキャンプ場をみることができます</p>
            <p>お気に入り登録した掲示板をみることができます</p>
            <p>フォローしているキャンパーやフォロワーをみることができます</p>
          </div>
        </div>

         

        <div class="about-info-box clearfix">
          <div class="col-xs-8 about-info-center">
            <hr>
            <h2>まずは、登山に行ってみよう</h2>
            <hr>
            <p><h2>最後に...マナーを守って登山を楽しみましょう！！</h2></p>
          </div>
        </div>

          

        <div class="about-info-box clearfix">
          <div class="col-xs-6 about-info-left">
            <%= link_to "ログインして始める", new_user_session_path %>
          </div>

          <div class="col-xs-6 about-info-center">
            <%= link_to "新規登録して始める",new_user_registration_path %>
          </div>
<footer>
    <%= image_tag 'publicdomainq-0023635zun.jpg', :size =>'1450x250'%>
  </footer>
      </div>
  </div>
</div>
  
