


<div class='top-text'>
<h2>山はこれ以上大きくならないが、私たちはいくらでも成長できる</h2>
</div>

<div class = "main-index-img">
   <div id="container">
        <div id="theTarget">
            <div style="background-image: url(<%= asset_path("/images/adventure-climb-climber-1043574.jpg") %>)"></div>
            <div style="background-image: url(<%= asset_path("/images/KM19814269_TP_V.jpg") %>"></div>
            <div style="background-image: url(<%= asset_path("/images/TKL180916008_TP_V.jpg") %>"></div>
            <div style="background-image: url(<%= asset_path("/images/KM19814290_TP_V.jpg") %>"></div>
            <div style="background-image: url(<%= asset_path("/immages/PKPAKU3426_TP_V.jpg") %>"></div>
        </div>
    </div>
</div>



<script type="text/javascript">
  $(function() {
    var API_KEY = "6cdb63a6e3091f0a9fa0054b678405d3"
    var city = 'Tokyo';
    var url = 'http://api.openweathermap.org/data/2.5/forecast?q=' + city + ',jp&units=metric&APPID=' + API_KEY;
    $.ajax({
      url: url,
      dataType: "json",
      type: 'GET',
    })
    .done(function(data) {
      console.log("");
      var insertHTML = "";
      var cityName = '<h2>' + data.city.name + '</h2>';
      $('#city-name').html(cityName);
      for (var i = 0; i <= 8; i = i + 2) {
        insertHTML += buildHTML(data, i);
      }
      $('#weather').html(insertHTML);
    })
    .fail(function(data) {
      console.log("失敗しました");
    });
  });
      function buildHTML(data, i) {
  var Week = new Array("（日）","（月）","（火）","（水）","（木）","（金）","（土）");
  var date = new Date (data.list[i].dt_txt);
  date.setHours(date.getHours() + 9);
  var month = date.getMonth()+1;
  var day = month + "月" + date.getDate() + "日" + Week[date.getDay()] + date.getHours() + "：00";
  var icon = data.list[i].weather[0].icon;
  var html =
  '<div class="weather-report">' +
    '<img src="http://openweathermap.org/img/w/' + icon + '.png">' +
    '<div class="weather-date">' + day + '</div>' +
    '<div class="weather-main">'+ data.list[i].weather[0].main + '</div>' +
    '<div class="weather-temp">' + Math.round(data.list[i].main.temp) + '℃</div>' +
  '</div>';
  return html
}
</script>
<div class="js">
  <h2>天気情報</h2>
  <div id="city-name">
  </div>
  <div id="weather"></div>
</div>

  <br>
  <hr>
  <div class="title-h10">
<h2>新着投稿一覧:記録(レコード)</h2></div><hr>
 <div class="slider container">
    <div class="slider-for">
        <!-- <ul class="gride__wrapper"> -->
          <% @blogs.each do |blog| %>
                  <%= link_to blog_path(blog), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag blog, :image, :fill, 250,250 %>
                  <% end %>
          <% end %>
      </div>
  </div>
 </div>
</div>

<br>
<hr>
<h2>新着投稿一覧:写真(フォトグラフ)</h2>
<hr>
 <div class="slider container">
    <div class="slider-for">
          <% @photos.each do |photo| %>
          <%= link_to photo.title, photo_path(photo.id),:style=>"color:#000080;" %>
                <%= link_to photo_path(photo), data: {"turbolinks" => false} do %>
                  <%= attachment_image_tag photo, :image, :fill, 200, 200 %>
                <% end %>
          <% end %>
        </div>
     </ul>
    </div>
  </div>




<div class="bottom_img">
  <%= image_tag '/images/266.png',size:300 %>
</div>
   <div class="sard-img">
     <%= image_tag '/images/599370.png',size:300 %>
     <p><%= image_tag '/images/133565.png',size:300 %></p>
   </div>



   <script>
     $(window).load(function(){
    $('.slider-for').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: true,
        centerMode: true,
        infinite: true,
        autoplay: true,
        centerPadding: '10px',
        arrows: true,
        responsive: [                    
            {
                breakpoint: 480,
                settings: {
                    arrows: true,
                    centerMode: true,
                    centerPadding: '0px',
                    slidesToShow: 1
                }
            }
        ]
    });
 
    // ナビゲーション用
    $('.slick-dots').find('li').eq(0).addClass('slick-current');
    // On before slide change
    $('.slider-for').on('beforeChange', function(event, slick, currentSlide, nextSlide){     
        $('.slick-dots').find('li').removeClass('slick-current');
        $('.slick-dots').find('li').eq(nextSlide).addClass('slick-current');
    });
});

   </script>


