<h2>マイページ</h2>

<div class="user-record">
<%= link_to '登山記録登録',new_blog_path %>
</div>

<div　class="user-photo">
<%= link_to '写真掲載',new_photo_path %>
</div>

<div class="user-edit">
<%= link_to '情報編集',edit_user_registration_path%>
</div>

<div class="user-home">
<%= link_to ' HOMEへ戻る',users_path %>
</div>
<div class= "user-destroy">
<%= link_to "退会ページ", quit_path %>
</div>