<div class="login">
  <div class="login-text">
<h2>山頂を目指しましょう！</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<% if request.fullpath.include?("users") %>
ユーザーログインページ

 


<% end %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<div id="three-container"></div>

<div id="instructions">
    click and drag to control the animation
</div>

<%= render "users/shared/links" %>
</div>
</div>

