<h1>写真の投稿編集</h1>
<!-- form_for部分 -->
<%= form_for(@photo) do |f| %>
 
 
 <div class="field">
   <%= f.label "タイトル" %>
    <%= f.text_field :title %>
 </div>
    
 <div class="field">
    <%= f.label "撮影者" %>
    <%= f.text_field :name %>
</div>

 <div class="field">
    <%= f.label "撮影日" %>
    <%= f.text_field :date %>
</div>
 
 <div class="field">
    <%= f.label "撮影場所" %>
    <%= f.text_field :location %>
 </div>
    
   <div class="field">
    <%= f.label "コメント" %>
    <%= f.text_area :comment %>
   </div>

   <div class="field">
   	 <%= f.label "イメージ" %>
   	 <%= f.attachment_field :image %>
   </div>
   
    <%= f.submit '保存' %>
 
<% end %>

  