<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>
<div class="photo-index">
      <% if user_signed_in? %>
      <div>
       <%= link_to "登録", new_photo_path %>
      </div>
      <% end %>
<h1>投稿写真一覧</h1>
 <% @photos.each do |photo| %>
 <hr>
  <div class="photo-title">
    <%= link_to photo.title, photo_path(photo.id),:style=>"color:#000080;" %>
  </div>
    <p>写真</p>
  <%= attachment_image_tag photo, :image, :fill, 250, 250, format: 'jpeg' %>
 <% end %>
 <%= paginate @photos, class: "paginate" %>

</div>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
  <%= link_to "マイページへ", user_path(current_user.id) %>

 
  <hr>
  <h2>投稿一覧</h2>
  <% @photos.each do |photo| %>
    <a href="/users/<%= photo.user.id %>"><%= photo.user.email %></a>
    
  <% end %>

<% else %>
  <%= link_to "ユーザー登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
