
<h2>タイトル:<%= @photo.title %></h2>
<%= attachment_image_tag @photo, :image, :fill, 400, 400, format: 'jpeg' %>


<h2>撮影者</h2>
<p><%= @photo.name %></p>

<h2>撮影日</h2>
<p><%= @photo.date %></p>

<h2>撮影場所</h2>
<p><%= @photo.location %></p>

<h2>コメント</h2>
<p><%= @photo.comment %></p>


<div>
<%= link_to "一覧へ", photos_path %>
</div>

<%= link_to "編集", edit_photo_path(@photo.id) %> 
<%= link_to "削除", photo_path(@photo), method: :delete, "data-confirm" => "本当に削除しますか？" %>