<div class="photo-main">
	<div class="photo-text">
		<h2>タイトル:<%= @photo.title %></h2>
	</div>
<div class="like-photo">
<% if user_signed_in? %>
	<% if @photo.favorited_by?(current_user) %>
    <%= link_to  photo_favorite_photo_path(@photo), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @photo.favorite_photos.count %> いいね
    <% end %>

<% else %>
    <%= link_to photo_favorite_photos_path(@photo), method: :post do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <%= @photo.favorite_photos.count %> いいね
    <% end %>

<% end %>
<% end %>
</div>
<%= attachment_image_tag @photo, :image, :fill, 800, 500, format: 'jpeg' %>


<h2>撮影者</h2>
<p><%= @photo.name %></p>

<h2>撮影日</h2>
<p><%= @photo.date %></p>

<h2>撮影場所</h2>
<p><%= @photo.location %></p>

<h2>説明</h2>
<p><%= @photo.comment %></p>


</div>
<!--ここまで-->


	<div>
	 <%= link_to "一覧へ", photos_path %>
	</div>

<% if user_signed_in? %>
<% if (@photo.user_id == current_user.id) || current_admin %>
<%= link_to "編集", edit_photo_path(@photo.id) %> 
<%= link_to "削除", photo_path(@photo), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<% end %>
<h1>投稿詳細ページ</h1>
<h3><%= @photo.user.email %></h3>
<h3><%#= @photo.content %></h3>

<h2>コメント一覧</h2>
<% @photo_comments.each do |c| %>
  <div>
    <a href="/users/<%= c.user.id %>"><%= c.user.email %>さん</a>
    <%= c.content %>
    <hr>
  </div>
<% end %>
<% if user_signed_in? %>
　<%= form_for [@photo, @photo_comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
　<% end %>
<% end %>



<%= link_to "ホームへ戻る", photos_path %>