<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YAMA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="css/style.css" media="all"> -->
  </head>

 <body>
        <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row nav navbar-nav">

          <div class="col-xs-12">

            <div class="col-xs-3 col-xs-offset-1">
                <div class="right-nav">
                      <%= link_to "管理者ログイン",new_admin_session_path,:style=>"color:#FFFF00;"%>
                    <div class="right-nav-user-button">
                      <%=link_to 'ユーザー新規登録',new_user_registration_path,:style=>"color:#FFFF00;" %>
                    </div>

                     <div class="right-nav-user-button">
                      <%= link_to ' ユーザーログイン',new_user_session_path,:style=>"color:#FFFF00;" %>
                     </div>
                </div>
            </div>

            <div class="top-logo-li col-xs-4">
              <div class="top-logo">
              <%= link_to"Climbing Life",root_path,:style=>"color:#1E90FF;" %>
              </div>
            </div>

            <!-- nav検索ここから -->
            <div class="navbar-form navbar-left-right">
              <span data-turbolinks="false">
              <div class="form-group">
                <form class="camp_site_search" id="camp_site_search" action="/camp_sites" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                    <input class="form-control" placeholder="登山地検索" type="search" name="q[name_cont]" id="q_name_cont">
                    <input type="submit" name="commit" value="検索" class="btn btn-default" data-disable-with="検索">
</form>              </div>
              </span>
            </div>
            <!-- 検索ここまで -->


            <div id="hm-icon">
              <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
<!--            <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
 -->
          </div>
        </div>
    </div>
  </div> 

    <%= yield %>
  </body>
  
</html>
