
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YAMA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="css/style.css" media="all"> -->
  </head>


 <header class="navbar-inverse">
<% if admin_signed_in? %>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row nav navbar-nav">

           <div class="top-logo-li col-xs-4">
              <div class="top-logo">
                <%= link_to root_path,data: {"turbolinks" => false} do %>
                <%=image_tag "japan.png", size: "50×50" %>
               <% end %>
              </div>
            </div>

          <div class="right-nav">
            <div class="right-nav-user-button">
             <%= link_to "管理者ログアウト", destroy_admin_session_path,method: :delete,:style=>"color:#000080;" %>
            </div>
          </div>

     <div class = "nav-seach">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :name_cont %>
           <%= f.submit %>
        <% end %>
     </div>

<% elsif user_signed_in? %>
        <div class="right-nav-user-button">
            <div class="link-main-i">
              <%= link_to 'マイページ', user_path(current_user.id), data: {"turbolinks" => false},:style=>"color:#000080;" %><br>
            </div>

            <div class="top-logo">
              <%= link_to root_path,data: {"turbolinks" => false} do %>
                        <%=image_tag "japan.png", size: "50×50" %>
            </div>
            <div class="link-main">
             <div class="link-main-n">
                <%= link_to ' HOME',users_path, data: {"turbolinks" => false},:style=>"color:#000080;" %><br>
            </div>
            <div class="link-main-s">
                  <%= link_to 'ABOUT',root_path, data: {"turbolinks" => false},:style=>"color:#000080;" %><br>
            </div>
            <div class="link-main-g">
                  <%= link_to 'ユーザーログアウト',destroy_user_session_path, data: {"turbolinks" => false},method: :delete,:style=>"color:#000080;" %><br>
            </div>
        </div>
<% end %>
            
              <div class = "nav-seach">
                <div class="nav-seach-box">
                <%= search_form_for @q do |f| %>
                   <%= f.search_field :name_cont %>
                   <%= f.submit %>
                </div>
                <% end %>
             </div>
          


<% else %>
      <div class="right-nav-user-button">
          <div class="link-main-i">
           <%= link_to 'こんにちは、ゲストさん',users_path,data: {"turbolinks" => false},:style=>"color:#000000;" %>
          </div>
          <div class="link-main-y">
           <%=link_to 'ユーザー新規登録',new_user_registration_path, data: {"turbolinks" => false},:style=>"color:#000080;" %>
          </div>
          <div class="top-logo">
                <%= link_to root_path,data: {"turbolinks" => false} do %>
                <%=image_tag "japan.png", size: "50×50" %>
          </div>
          <div class="link-main">
          <div class="link-main-n">
           <%= link_to ' HOME',users_path, data: {"turbolinks" => false},:style=>"color:#000080;" %>
          </div>
          <div class="link-main-s">
           <%= link_to 'ABOUT',root_path, data: {"turbolinks" => false},:style=>"color:#000080;" %>
          </div>
          <div class="link-main-g">
           <%= link_to ' ユーザーログイン',new_user_session_path, data: {"turbolinks" => false},:style=>"color:#000080;" %>
          </div>
       </div>
<% end %>
        <div class = "nav-seach">
          <div class="nav-seach-box">
          <%= search_form_for @q do |f| %>
            <%= f.search_field :name_cont, placeholder: "登山地検索", :size => "30*30"  %>
              <%= f.submit %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  </div> 
<% end %>
</header><!-- /header -->

 <body>
  <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <br>
       <li><%= link_to "HOMEに戻る",users_path,data: {"turbolinks" => false} %></li><br>
       <li><%= link_to "ABOUTページ",root_path,data: {"turbolinks" => false} %></li><br>
       <li><%= link_to "登山地一覧",items_path,data: {"turbolinks" => false} %></li><br>
       <li><%= link_to "投稿記録一覧",blogs_path,data: {"turbolinks" => false} %></li><br>
       <li><%= link_to "投稿写真一覧",photos_path,data: {"turbolinks" => false} %></li><br>
       <li><%= link_to "お問い合わせ",users_path,data: {"turbolinks" => false} %></li><br>
      </ul>
  </div>
<div class="hm-icon-top">
  <div id="hm-icon">
    <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
    </a>
  </div>
</div>
<%= yield %>
 </body>

  <footer>
    <%= image_tag '/images/publicdomainq-0023635zun.jpg', :size =>'1450x250'%>
  </footer>
</html>
